.hero-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  background-image: linear-gradient(127deg, #4b36ff, #111);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}