/* LEFT → RIGHT scroll */
@keyframes scroll-left {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

/* RIGHT → LEFT scroll */
@keyframes scroll-right {
  0%   { transform: translateX(-50%); }
  100% { transform: translateX(0); }
}

/* Common scroll styles */
.scroll-row {
  display: flex;
  white-space: nowrap;
  width: max-content;
}

.scroll-left {
  animation: scroll-left 25s linear infinite;
}

.scroll-right {
  animation: scroll-right 25s linear infinite;
}

/* Pills1 */
.pill {
  display: inline-flex;
  align-items: center;
  padding: 6px 18px;
  border-radius: 50px;
  font-weight: 600;
  text-transform: uppercase;
  background: #dceaff;
  color: #0d6efd;
  margin-right: 22px;
  transition: 0.2s;
}

.pill:hover {
  background: #0d6efd;
  color: white;
}
  /* pills-2 */
/* .pills {
  display: inline-flex;
  align-items: center;
  padding: 6px 18px;
  border-radius: 50px;
  font-weight: 600;
  text-transform: uppercase;
  background: #dceaff;
  color: #9357F4;
  margin-right: 22px;
  transition: 0.2s;
}

.pills:hover {
  background: #9357F4;
  color: white;
} */

.pill svg {
  margin-right: 8px;
}
