/* .carousel-item {
  padding: 10px 5px;
}

.carousel-card-img {
  border-radius: 16px;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
} */
.hero-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  background-image: linear-gradient(127deg, #4b36ff, #111);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}