.carousel-item {
  padding: 10px 5px;
}

.carousel-card-img {
  border-radius: 16px;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}
